header{
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 16px;
  height: 8vh;
  border-bottom: 1px solid rgba(85, 67, 54, 0.20);
  background: #131313;
  width: 100%;
  max-width: 100%; 
  overflow-x: hidden;
  box-sizing: border-box; 
}